
body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-size: 18px;
    line-height: 150%;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: #333333;

}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    text-align: center;
    margin: 0%;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}   

#bio-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    float: left;
}

#main-bio {
    float: left;
    width: 70%;
}
  
#contact-info {
    float: left;
    width: 30%;
}  

a {
    color: #d21034
}